/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/*CSS*/

/*CREADOS*/
:root {
    --caqui: #ab854c;
    --caqui1: #d1a25d;
    --caqui2: #775d35;
    --beige: #f6ece0;
    --beige1: #b6b6b6;
    --dorado: #ccaa35;
}

.pf-d-normal {
    font-family: 'Playfair Display', serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.bg-caqui {
    background-color: var(--caqui);
}

.bg-caqui1 {
    background-color: var(--caqui1);
}

.bg-caqui2 {
    background-color: var(--caqui2);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-beige1 {
    background-color: var(--beige1);
}

.bg-dorado {
    background-color: var(--dorado);
}

.t-dorado {
    color: var(--dorado);
}

/*EDIT*/

/*TEMPLATE*/



.navbar-brand img {
    height: 7em;
    width: auto;
}

#letra-menu {
    color: var(--dorado);
    padding-right: 2em;
}

/*REDES*/

*:focus,
*:active {
    outline: none !important;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 45px;
    height: 45px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    top: 0;
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -38px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #000000;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
    background: #66077e;
    color: #ffffff;
}

.wrapper .wasa:hover,
.wrapper .wasa:hover .tooltip,
.wrapper .wasa:hover .tooltip::before {
    background: #00911f;
    color: #ffffff;
}

/*TAMAÑO*/

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
}